* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  min-width: 100%;
  height: auto;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.gap-3 {
  gap: 1.5rem;
}
.gap-4 {
  gap: 2rem;
}
.gap-5 {
  gap: 2.5rem;
}
.gap-6 {
  gap: 3rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
.p-5 {
  padding: 2.5rem;
}
.p-6 {
  padding: 3rem;
}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-4 {
  margin: 2rem;
}
.m-5 {
  margin: 2.5rem;
}
.m-6 {
  margin: 3rem;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
